{%extends "base.html"%}

{%block content%}
    <h1 class="display-3 text-center" style="color: #FFFFFC;">Resources</h1>
    <div class="container" style="height: 100vh;">
        <div class="jumbotron">
            <h1>What's Global voice?</h1>
            <hr>
            <p>Global voice is a chatbot that is powered by artificial inteligence and gives you the oportunity to check different places around the globe. The main goal of Global Voice is to show us the beautiful places that are part of the planet in which we live. Interacting with NASA Satellites is the main goal.</p>
        </div>
        <h1 class="text-center" style="color: #FFFFFC;">Tecnology Stack</h1>
        <div class="row pb-5">
            <div class="col">
               <div class="display-1 text-right" style="color: #FFFFFC;"><i class="fab fa-python"></i></div>
            </div>
            <div class="col">
                <h1 class="display-1 text-center" style="color: #FFFFFC;">+</h1>
            </div>
            <div class="col">
                <div class="display-1 text-left" style="color: #FFFFFC;"><i class="fas fa-robot"></i></div>
            </div>
        </div>
        <div style="color: #FFFFFC;">
            <h1 class="text-center">Description</h1>
            <p>Python is a programming language. It helps people who use the program create clear and logical codes for small and large projects. </p>
            <p>Chatterbot is an application that has been used during the years in order to create conversations online through writing or voice recognition. </p>
            <p>We used this tecnologies together with the objective of creating an AI capable of exploring the world with by answering our questions. In the future we expect to add voice recognition capabilities and connections with different satellites</p>
        </div>

    </div>ß
{%endblock%}